body{
  margin: 0;

}
a {
color: white;
text-decoration: none;
font-size: 20px;     
}

a:hover {
opacity: 0.7;
}

.logo {
font-size: 24px;
text-transform: uppercase;
letter-spacing: 4px;
font-family: Georgia Pro Cond Black;
width: 60px;
}

nav {
display: flex;
justify-content:space-around;
align-items:center;
font-family:Helvetica;
background: gray;
height: 90px;   
}

.imagem{
display: flex;
margin-left: -30px;
margin-top: -26px;
width: 27px;
}

label img{
  width: 50px;
  display: flex;   
}

.menu {
list-style: none;
display: flex;
}

.menu li {
margin-left: 70px;
}


.box{
  margin: 100px auto;
  width: 90%;
  padding: 8px;
}

.imagem-body{
  float: left;
  width: 140px;
  height: 140px;
  padding: 30px 30px;
}

section h1{
  color: black;
  font-family: sans-serif;

}

h1{
  text-align:justify;
  font-size: 18px;
  
}

@media (max-width: 900px) {
body {
  overflow-x: hidden;
}

.menu {
  position: absolute;
  top: 74px;
  width: 100vw;
  height: 180vh;
  background: burlywood;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  transform: translateY(-1.3%);
  transition: transform 0.4s ease-in;
  display: none;  
}

.imagem {
  width: 35px;
  margin-left: -40px;
  margin-top: -35px;   
}


.menu li a:hover{
  margin-left: 0;
  opacity: 1;
  font-size: 25px;
  opacity: 0.4;   
}

label img{
    display:flex;
    cursor: pointer;
    margin-left: -240px;             
}

#check{
 display: none;   
}

#check:checked + .menu {
      display: flex;          
}

.logo{
position: absolute;  
}

}
 
@media (min-width: 901px) {   
  label img{
      display: none;
  }
  
  #check{
      display: none;
}
.logo{
    margin-top: 40px;
    transform: translateY(-70%);
    transition: transform 0.4s ease-in;
}
  .menu {
    margin-top: 50px;
    justify-content: space-around;
    transform: translateY(-70%);
    transition: transform 0.4s ease-in;
  } 
  .menu li {
    opacity: 1;
    transform: translateY(-2%);
    transition: transform 0.4s ease-in;
    justify-content: space-around;
  }
  .box{
    opacity: 1;
    transform: translateY(-2%);
    transition: transform 0.4s ease-in;
    justify-content: space-around;
  }

}