body >main {
    display: flex;  
    margin-top: 20px;
    
  }

main{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

main > section {
    border: 3px solid gray;
    width: 350px;
    padding: 11px 12px;
    margin-top: 10px;
    justify-items: center;
    align-items: center;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10%;
    background-color: #f6f7f8;
    
}


#eventos{
    border: 3px solid gray;
    width: 150px;
    padding: 10px 10px;
    margin-top: 10px;
    justify-items: center;
    align-items: center;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10%;
    background-color: #f6f7f8;

}

 main >section >h1{
    text-align: center;
    color: black;
}

input[type=button]{
    margin-left: 100px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: orange;
    border-radius: 5px;
    padding: 10px 40px;
    cursor: pointer;
    border: none;
}

#sair2{
    margin-top: 100px;
}

#sair{
    margin-top: 65px;
}

input[type=button]:hover{
    background-color: #d87c30;
}