
body{
    background-color: white ;
  }
  
  
  body >main {
    display: flex;  
    margin-top: 20px;
    
  }
  body > .interno{
    margin-left: 30px;
    width: 300px;
    margin-top: 30px;
    height: fit-content;
    background: #d87c30;
    padding: 10px 5px;
    font-size: 20px;
    font-family:Helvetica;
    color: white;
    text-align:  center;
    
  }
  
  .add_product{
    float: right;
    margin-right: 150px;
    margin-top: -100px;
    flex-wrap: wrap;
  }
  
  main{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }
  
  main > section{
    border: 3px solid gray;
    width: 250px;
    padding: 11px 12px;
    margin-top: 10px;
    justify-items: center;
    align-items: center;
    height: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10%;
    background-color: bisque;
    
  }
  
  main > section >h1{
    text-align: center;
    color: white;
  }
  
  h2{
    text-align: left;
    color: white;
    font-size: 16px;
    margin-left: 10px;
  }
  
  input[type=button]{
    margin-left: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #d87c30;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    cursor: pointer;
    margin-top: 40px;
  }
  
  input[type=button]:hover{
    background-color: orange;
  }
  #create { 
    visibility: hidden; 
  }
  
  
  #show_map { 
    visibility: hidden; 
  }
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    padding: 10px 10px;
    border-radius: 10%;
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10%;
   
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border-radius: 10%;
    
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10%;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: white;
    font-size: 20px;
  }
  
  .image {
    background-color: #bbb;
    color: white;
    max-width:100%;
    max-height: 70%;
    margin-top: -20px;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    width: 300px;
    height:300px;
    border-radius: 10%;
    font-size: 20px;
  
  }